<%- include("./partials/header"); %>
    <div class="container">
        <header class="jumbotron">
            <p>MOBILE : 743******3</p>
            <p>EMAIL : xyz@example.com</p>
        </header>
    </div>
<%- include("./partials/footer"); %>