<%- include("./partials/header"); %>
<h3>Welcome to Cuisilite</h3>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1 id="h1">Cuisilite</h1>
            <h4 id="h3">We serve you the best because you deserve the best</h4>
            <!-- <p>
                <a href="/dishes/new" class="btn btn-primary btn-lg" >Add New Dishes</a>
            </p> -->
            <br/>
        </div>
    </header>
</div>
<a href="/dishes" class="btn btn-primary">Show me the Dishes</a>
<a href="/timings" class="btn btn-primary">Timings</a>
<a href="/contacts" class="btn btn-primary">Contacts</a>
<%- include("./partials/footer"); %>