<%- include("./partials/header"); %>
    <div class="container" >
        <header class="jumbotron">
            <div class="container">
                <p>
                    TIMINGS </br>
                    WEEKDAYS : 9 A.M. - 10 P.M.</br>
                    SUNDAY : 10 A.M. - 11 P.M.
                </p>
                <p>
                    <strong>DO VISIT</strong>
                </p>
            </div>
        </header>
    </div>
<%- include("./partials/footer"); %>